<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <!-- =================================================================== -->
    <!-- PROJECT INFORMATION                                                 -->
    <!-- =================================================================== -->
    <display-name>Noteasaurus</display-name>
    <description>Post-It Note Software</description>
    <!-- =================================================================== -->
    <!-- LISTENER DEFINITIONS                                                -->
    <!-- =================================================================== -->
    <listener>
        <listener-class>com.metrosix.noteasaurus.web.ApplicationLifecycleListener</listener-class>
    </listener>
    <!-- =================================================================== -->
    <!-- FILTER DEFINITIONS                                                  -->
    <!-- =================================================================== -->
    <filter>
        <filter-name>HttpSessionFilter</filter-name>
        <filter-class>com.metrosix.noteasaurus.web.HttpSessionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SecurityPrincipalFilter</filter-name>
        <filter-class>com.metrosix.noteasaurus.web.SecurityPrincipalFilter</filter-class>
    </filter>
    <filter>
        <filter-name>HibernateSessionFilter</filter-name>
        <filter-class>com.metrosix.noteasaurus.web.HibernateSessionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SessionPersonFilter</filter-name>
        <filter-class>com.metrosix.noteasaurus.web.SessionPersonFilter</filter-class>
    </filter>
    <!-- =================================================================== -->
    <!-- FILTER MAPPING DEFINITIONS                                          -->
    <!-- =================================================================== -->
    <filter-mapping>
        <filter-name>HttpSessionFilter</filter-name>
        <url-pattern>/remote-procedure-call/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SecurityPrincipalFilter</filter-name>
        <url-pattern>/remote-procedure-call/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HibernateSessionFilter</filter-name>
        <url-pattern>/remote-procedure-call/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionPersonFilter</filter-name>
        <url-pattern>/remote-procedure-call/*</url-pattern>
    </filter-mapping>
    <!-- =================================================================== -->
    <!-- SERVLET DEFINITIONS                                                 -->
    <!-- =================================================================== -->
    <servlet>
        <servlet-name>remote-procedure-call-json</servlet-name>
        <servlet-class>com.metrosix.noteasaurus.web.JSONRPCController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- =================================================================== -->
    <!-- SERVLET MAPPINGS                                                    -->
    <!-- =================================================================== -->
    <servlet-mapping>
        <servlet-name>remote-procedure-call-json</servlet-name>
        <url-pattern>/remote-procedure-call/json</url-pattern>
    </servlet-mapping>
    <!-- =================================================================== -->
    <!-- OTHER CONFIGURATION                                                 -->
    <!-- =================================================================== -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
