<div id="application">
	<div id="controlbar" class="container-box">
	<ul>
		<li><a id="cbar-new-note-btn" title="New Note" href="javascript:void(0)">New Note</a></li>
		<!-- 
		<li><a id="cbar-note-view-btn" title="Note View" href="javascript:void(0)">Note View</a></li>
		<li><a id="cbar-list-view-btn" title="List View" href="javascript:void(0)">List View</a></li> 
        <li><a id="cbar-account-settings-btn" title="Account" href="javascript:void(0)">Account</a></li>
	    -->
	    <li><a id="cbar-logout-btn" title="Logout" href="javascript:void(0)">Logout</a></li>
        <li><span id="user-email-label"></span></li>
	    <li><a id="cbar-new-corkboard-btn" title="New Corkboard" href="javascript:void(0)">New Corkboard</a></li>
	</ul>
	</div>
	
	<div id="corkboard-panel">
		<ul id="corkboard-list">
		</ul>
	</div>
	
	<div id="corkboard-area">
	</div>
</div>