<div id="login" class="note-box">
    <h1>Login</h1>
	<p class="error"></p>
    <table>
        <tr>
            <td align="right">
                <label for="email" title="Your email address">Email</label>:
            </td>
            <td>
                <input id="email" name="email" type="text" maxlength="256" title="Your email address"/>
            </td>
        </tr>
        <tr>
            <td align="right">
                <label for="password" title="The password associated with your account.">Password</label>:
            </td>
            <td>
                <input id="password" name="password" type="password" maxlength="32" title="The password associated with your account.">
            </td>
        </tr>
        <tr>
            <td align="right">
                <label for="remember_me" title="Keep me signed in for 2 weeks unless I logout!">Remember me</label>:
            </td>
            <td>
                <input type="checkbox" id="remember_me" title="Keep me signed in for 2 weeks unless I logout!"/>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a id="login-submit" href="javascript:void(0)" class="button">Login</a>
            </td>
        </tr>
    </table>
    <div id="nav-strip">
        <a id="register-submit" href="javascript:void(0);">Register</a>&nbsp;|&nbsp;
        <a href="mailto:notes.ideasaur.us@gmail.com">Suggestions?</a>
    </div>
</div>